<h1>Welcome 😎</h1>
<h2>This is an API server to serve my details for different forms of portfolios</h2>
<h2> Documentation is happening real soon. </h2>
  <p>Tadesse Alemayehu +251921577930</p>
  <a href="https://github.com/Tadesse-Alemayehu/">GitHub</a>
